.bag {
    width: 90vw;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    gap: 4vw;
    margin-bottom: 5em;

}

.itens {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.itens__title {
    font-size: 20px;
}

.itens__bag {
    display: flex;
    margin: auto;
    width: 60vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;
}

.itens__bag--item {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: space-between;
    width: 150px;
}

.item__img {
    max-width: 100%;
}


.sumary {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    height: 20em;
    /* justify-content: space-between;  */
    /* margin: auto; */
    width: 50vw;
    gap: 5px;
    /* padding-bottom: 4em; */
}

.sumary__title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 50px;
}

.sumary__itens {
    display: flex;
    justify-content: space-between;
    color: var(--cor-cinza-claro);
}

.sumary__total {
    display: flex;
    justify-content: space-between;
    color: var(--cor-cinza-claro);
}

.button__checkout {
    text-align: center;
    margin-top: 80px;
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 4px;
}


.bar__footer {
    border-top: 1px solid var(--cor-barra);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f6f6f6;
    text-align: center;
    /* padding: .5em; */
    font-size: 12px;

}

.empty {
    display: flex;
    font-size: 40px;
    height: 20vw;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width : 800px) {
    .sumary {
        width: 100%;
        margin: auto;
        height: auto;

    }

    .bag {
        width: 90vw;
        flex-direction: column;
        gap: 20px;
    }

    .itens__bag {
        width: 100%;

    }

    .itens__bag--item {
        width: 100px;
    }

    .empty {
        font-size: 25px;
    }
}