.special {
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    gap: 4vw;

}

.item {
    margin: 2em 0 4em 0;
    display: flex;
    flex-direction: column;
}

.item__item {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    justify-content: space-between;
    width: 200px;
}

.item__img {
    max-width: 100%;
}



.item__title {
    font-size: 20px;
}

.item__bag {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}


.info {
    display: flex;
    margin-left: 10px;
    gap: 10px;
    align-items: center;
}

.add__bag {
    display: flex;
    padding: .1em 1em .1em 1em;
    background-color: #000000;
    color: aliceblue;
    font-size: 25px;
    text-decoration: none;
    border-radius: 4px;

}

.add__bag:hover {
    background-color: aliceblue;
    color: #000000;
    box-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0.75);
}

.name,
.value {
    font-size: 15px;
}

@media screen and (max-width:550px) {
    .item__item {
        width: 150px;
    }

    .info {
        margin: 5px;
        gap: 5px;
    }

    .add__bag {
        padding: .1em .8em .1em .8em;
    }
}