.popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    z-index: 1;
}

.popup a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}