/* Pop-up Notification Styles */
.popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f6e3e3;
    color: rgb(15, 13, 13);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    gap: 2em;
    border: solid 1px black;
}

.popup:hover {
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, 0.75);
}

.popup.hidden {
    display: none;
}

.popup button {
    background-color: #ff6f61;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

.popup button:hover {
    background-color: #ff4f41;
}