@import url("./styles/header.css");
@import url("./styles/main.css");
@import url("./styles/sell.css");
@import url("./styles/member.css");
@import url("./styles/today.css");
@import url("./styles/category.css");
@import url("./styles/footer.css");
@import url("./styles/service.css");
@import url("./styles/bag_user/mascaras.css");
@import url("./styles/bag_user/popup.css");

:root {
    --fonte-principal: "Poppins";
    --cor-rosa-claro: #FDF1F3;
    --cor-rosa-destaque: #CC0058;
    --cor-cinza-claro: #6E6E6E;
    --cor-barra: #d4d4d4;
}

body {
    font-family: var(--fonte-principal);
}