.container__principal {
    display: flex;
    flex-direction: column;
}

.container__principal__mensagem {
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;
    padding: 18px 0;
    text-align: center;
    border-top: 1px solid var(--cor-barra);
    background-color: #F6F6F6;
}

.container__principal__mensagem--item {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.container__principal__mensagem--item--principal {
    font-weight: 700;
}

.container__principal__mensagem--item--secundario {
    color: #505050;
}

.container__principal__banner {
    max-width: 100%;
    background-image: url("/assets/background.png");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
}


.container__principal__banner__lista {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 1rem;
    gap: 15px;
    justify-content: center;
    height: 90%;
}


.banner--item--2 {
    font-size: 30px;
}

.banner--item--3 {
    font-size: 16px;
}


.banner--item--4--link {
    color: #000000;
    text-decoration: none;
}

.container__principal__banner__lista {
    width: 100%;
    padding: 0;
    /* display: none; */
}

.imagens {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(221, 138, 159);
    height: 60vh;

}

.imagens__img {
    max-height: 100%;

}

.icon {
    /* right: 9%; */
    /* margin-top: 1px; */
    position: absolute;
    justify-content: center;
    /* top: 10%; */
    transform: translate(-220%, 60%);
    font-size: 13px;
    color: #000000;
}

.BagIcon__notificationDot {
    background-color: blue;
    border-radius: 50%;
    height: .5rem;
    position: absolute;
    transform: translate(-80%, 50%);
    width: .461rem;
}

@media screen and (max-width:900px) {
    .container__principal__banner {
        display: block;
    }

    .imagens {
        display: none;
    }
}

@media screen and (max-width:750px) {
    .banner--item--2 {
        font-size: 20px;
    }

    .banner--item--3 {
        font-size: 14px;
    }

}

@media screen and (max-width:500px) {
    .banner--item--2 {
        font-size: 16px;
    }

    .banner--item--3 {
        font-size: 14px;
    }

}